body {
    margin: 0;
}

div {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}
h1 {
    color: green;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    padding: 10px; 
}